/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

/* VARIABLES CSS */
:root {
    --header-height: 3.5rem;

    /* Colors */
    --hue: 200;
    --first-color: hsl(var(--hue), 69%, 61%);
    /* Light Blue/Teal */
    --first-color-alt: hsl(var(--hue), 57%, 53%);
    --title-color: hsl(var(--hue), 8%, 95%);
    --text-color: hsl(var(--hue), 8%, 75%);
    --text-color-light: hsl(var(--hue), 8%, 65%);
    --body-color: hsl(var(--hue), 30%, 8%);
    /* Dark Blue Background */
    --container-color: hsl(var(--hue), 29%, 16%);

    /* Font and Typography */
    --body-font: 'Outfit', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive Typography */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    text-align: center;
}

/* LAYOUT */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* NAV */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

/* Show Menu */
.show-menu {
    bottom: 0;
}

/* Active Link */
.active-link {
    color: var(--first-color);
}

/* HOME */
.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--mb-1);
}

.home__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(56, 189, 248, 0.2);
    /* Glow effect */
}

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
}

/* BUTTONS */
.button {
    display: inline-flex;
    /* Ensures flex layout works inside button */
    align-items: center;
    /* Vertically center items */
    justify-content: center;
    /* Horizontally center items - if needed */
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding: .75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}


/* ABOUT */
.about__img {
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    display: block;
    text-align: center;
}

.about__info-name {
    font-size: var(--smaller-font-size);
    display: block;
    text-align: center;
}

.about__buttons {
    display: flex;
    justify-content: center;
}

/* SKILLS */
.skills__container {
    row-gap: 2rem;
    /* Adjusted gap */
}

.skills__content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.skills__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
    text-align: center;
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: .5rem;
}

.skills__data .fa-circle-check {
    font-size: 1rem;
    color: var(--first-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--smaller-font-size);
}

/* PORTFOLIO */
.portfolio__container {
    gap: 1.5rem;
}

.portfolio__content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1rem;
    transition: .3s;
}

.portfolio__content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    transform: translateY(-5px);
}

.portfolio__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description {
    margin-bottom: var(--mb-0-75);
}

/* CONTACT */
.contact__container {
    row-gap: 3rem;
}

.contact__title {
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
}

.contact__info {
    display: grid;
    gap: 1rem;
}

.contact__card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contact__card-icon {
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.contact__card-title,
.contact__card-data {
    font-size: var(--small-font-size);
}

.contact__card-title {
    font-weight: var(--font-medium);
}

.contact__card-data {
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact__button {
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact__button:hover .contact__button-icon {
    transform: translateX(.25rem);
}

.contact__button-icon {
    font-size: 1rem;
    transition: .3s;
}

/* FOOTER */
.footer {
    background-color: var(--container-color);
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
    color: var(--title-color);
}

.footer__title {
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    display: inline-flex;
    font-size: 1rem;
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--text-color-light);
    text-align: center;
    font-size: var(--smaller-font-size);
}

/* SCROLL UP */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
}

.show-scroll {
    bottom: 5rem;
}

/* MEDIA QUERIES */

/* For Small Devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__img-wrapper {
        margin-bottom: var(--mb-2);
    }
}

/* For Mid-sized Devices */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }

    .about__container,
    .skills__container,
    .portfolio__container,
    .contact__container,
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For Large Devices */
@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__img-wrapper {
        justify-content: flex-end;
        /* Align image to right on desktop */
    }

    .about__container {
        column-gap: 5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__description {
        text-align: initial;
    }

    .about__info {
        justify-content: space-between;
    }

    .about__buttons {
        justify-content: initial;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__bg {
        padding: 3rem 0 3.5rem;
    }

    .footer__links {
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer__socials {
        justify-self: flex-end;
    }

    .footer__copy {
        margin-top: 4.5rem;
    }
}

.home__img-wrapper {
    display: flex;
    justify-content: center;
}

.home__img {
    width: 280px;
    max-width: 100%;
    border-radius: 50%;
    /* remove if you want square */
}

@media screen and (max-width: 768px) {
    .home__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home__img-wrapper {
        order: -1;
        /* image goes on top */
    }
}

.home__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}